*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, black, #124076);
    color: whitesmoke;
    font-family: cursive, sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: underline;
    color: #B5C0D0;
    padding: 10px;
    transition: background-color 0.3s ease;
}
a :hover{
    background-color: #051324 ;
    color: #FFFFFF;
    border-radius: 50%;
    margin-bottom: 10px;
}
.logo img{
    display: inline-flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    flex-direction: row;
    position: relative;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box img{
    background-blend-mode: hard-light;
    transition:all 1s ease;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.box img:hover{
    background-color: #333;
    background-position: center;
    box-shadow: 0 0 10px #FFFFFF;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
.planets img{
    display: block;
    width: 100px;
    height: 100px ;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.planets img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #FFFFFF;
}
.planets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    width: 100vw;
}

.left, .right {
    display: flex;
    align-items: center;   
    gap: 20px;             
}
.left {
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}
.right {
    justify-content: flex-start;
    padding: 20px;
}
.planets p {
    max-width: 100vw;
    line-height: 1.5;
}
dl{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 20px;
}